* {
    margin: 0px;
    font-family: 'Lato', sans-serif;
    color: navy;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    /* opacity: 0.7; */
    /* background-color: rgba(64, 112, 244, 0.45); */
    /* background-color: rgba(0, 255, 255, 0.3); */
    background-color: rgb(217, 252, 252);
}

.main-container {
    position: absolute;
    top: 5%;
    bottom: 5%;
    height: 90%;
    width: 95%;
   /* background-color: rgb(150, 232, 248); */
   background-color: rgb(231, 248, 255);
   border-radius: 20px;
   box-shadow: 4px 4px 15px #5b5b5b;
   transition: transform 1s ease-in-out 0.2s;
}

.main-container:hover{
    transform: scale(1.02);
    box-shadow: 0px 8px 20px #5b5b5b;
}
.nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading{
    display: inline-block;
    padding: 2px;
    position: absolute;
    top: 15px;
    left: 100px;
    font-size: 32px;
}
.nav{
    position: absolute;
    left: 37%;
    top: 23px;
    display: inline;
    font-weight: bold;
    font-size: 20px;
}
.nav a{
    display: inline;
    padding: 2px;
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}
.social {
    position: absolute;
    right: 5%;
    top: 23px;
    display: inline;
    font-weight: bold;
    font-size: 20px;
}
.social a {
    display: inline;
    padding: 2px;
    margin: 5px;
    text-decoration: none;
    font-size: larger;
    font-weight: bolder;
}
.content {
    height: 80%;
    /* border: 2px solid black; */
    width: 80%;
    position: absolute;
    left: 150px;
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.content ul {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.content ul .projectBox{
    height: max-content;
    width: 95%;
    margin: 15px;
    padding: 10px;
    box-shadow: 4px 4px 12px black;
    transition: all 0.3s linear 0.2s;
    border-radius: 50px;
}
.content ul .projectBox h2 {
    color: #2071f3;
    margin: 4px;
}
.content ul .projectBox p {
    color: navy;
    font-size: 1.2rem;
}
.content ul .projectBox:hover{
    transform: scale(1.02);
    box-shadow: 6px 6px 16px black;
}
.content-info p {
    font-size: 1.5rem;
    font-weight: 550;
}
.content-info h1 {
    font-size: 4rem;
    color: black;
}
.content-info h3 {
    font-size: 2rem;
    color: #2e7eff; 
}
.content-image {
    height: 80%;
    width: 400px;
    /* background-color: black; */
    /* background-image: url(pp-removebg.png); */
    background-image: url(profile2.jpg);
    background-size: cover;
    box-shadow: 8px 8px 12px rgb(194, 191, 191);
    border-radius: 50%;
}
